<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Detect</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="main-content">
        {{>header}}
    <form>
        <input type="text" name="address" placeholder="Enter your address">
        <button>Submit</button>
    </form>

    <p id="location"></p>
    <p id="message"></p>
    <p id="errMess"></p>
     <img src="img/weatherMain.jpg" alt="Waether main">
    </div>
    
    {{>footer}}

    <script src="js/browser.js"></script>
</body>
</html>